<!-- app/views/spree/admin/shared/_menu.html.erb (customize as needed) -->

<ul class="nav nav-sidebar">
  <li><%= link_to 'Import Promo Codes', import_admin_promo_codes_path %></li>
  <!-- other menu items -->
</ul>
