<!-- app/views/admin/shared/_menu.html.erb (or the appropriate menu file) -->

<ul class="nav nav-sidebar">
  <li><%= link_to 'Import Promo Codes', import_promo_codes_form_path %></li>
  <!-- other menu items -->
</ul>
